extends ../index.pug

block estilos
    link(rel="stylesheet", href="/estilos/styles.css")

block scripts 
    script(src="/scripts/listarSolicitudesCompra.js", type="module", defer) 

block contenido
    .container.shadow-sm.border.rounded-4.mt-5.bg-primary-subtle 
        h1(class="text-center") Listado de Solicitudes de compra de vacunas

        .table-responsive.my-3.rounded-3
            table(class="table table-striped table-hover mb-0")
                thead(class="table-light")
                    tr 
                        th(class="text-center")
                            span#tipo(class="cursor-pointer ordenable") 
                                span 
                                    i#flecha-tipo(class="me-2 bi")
                                span Vacuna
                        th(class="text-center")
                            span#cantidad(class="cursor-pointer ordenable") 
                                span 
                                    i#flecha-cantidad(class="me-2 bi")
                                span Cantidad
                        th(class="text-center")
                            span#fecha(class="cursor-pointer ordenable") 
                                span 
                                    i#flecha-fecha(class="me-2 bi")
                                span Fecha
                        th(class="text-center") Acción
                tbody(class="table-group-divider") 
                    each solicitud in solicitudes 
                        tr 
                            td(class="ps-3 align-middle text-center") #{solicitud.TipoVacuna.tipo}
                            td(class="ps-3 align-middle text-center") #{solicitud.cantidad}
                            td(class="ps-3 align-middle text-center") #{solicitud.fechaSolicitud}
                            td(class="ps-3 d-flex justify-content-center") 
                                a(class="btn btn-primary p-1", href="/lotes/comprar?vacunaSolicitada="+solicitud.TipoVacuna.id) Comprar
                    else 
                        tr 
                            td(class="align-middle text-center", colspan="4") #{error ? "HUBO UN PROBLEMA AL RECUPERAR LA SOLICITUDES" : "NO HAY SOLICITUDES PENDIENTES"}

        nav
            ul(class="pagination justify-content-center")
                li(class="page-item", class=cantidadPaginadores===1 ? "disabled" : "")
                    a(class="page-link", href="#")
                        span &laquo;
                -var i = 0;
                while i < cantidadPaginadores
                    li(class="page-item")
                        a(class="page-link", href="#", class=i===0 ? "active" : "")= ++i
                li(class="page-item", class=cantidadPaginadores===1 ? "disabled" : "")
                    a(class="page-link", href="#")
                        span &raquo;